# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html

[mysqld]
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
log_bin=/var/lib/mysql/mysql-bin
server-id=2
sync_binlog=1
skip_slave_start=1
log_slave_updates=1
read_only=1
#设置二进制日志的格式
binlog-format=ROW
#启用Gtid模式
gtid-mode=on
#强制GTID一致性
enforce-gtid-consistency=1
#开启并行复制之后，减少更新master_info带来的开销
master_info_repository=TABLE
#增加安全性，避免relay_info更新不及，slave重启后导致主从复制出错
relay_log_info_repository=TABLE
#为从服务器开启多线程复制
slave_parallel_workers=2
#保证了relay-log的完整性，当从库宕机，假如relaylog损坏，自动放弃未执行过的relaylog，重新从master上获取
relay_log_recovery=ON

# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
